:root {

	/* Base color */
	--ss-heliotrope: #e07cff;

	--ss-opaque-heliotrope-000: #ffffff;
	--ss-opaque-heliotrope-001: #fcf2ff;
	--ss-opaque-heliotrope-002: #f9e5ff;
	--ss-opaque-heliotrope-003: #f6d7ff;
	--ss-opaque-heliotrope-004: #f3cbff;
	--ss-opaque-heliotrope-005: #efbdff;
	--ss-opaque-heliotrope-006: #ecb0ff;
	--ss-opaque-heliotrope-007: #e9a3ff;
	--ss-opaque-heliotrope-008: #e696ff;
	--ss-opaque-heliotrope-009: #e289ff;
	--ss-opaque-heliotrope-010: #e07cff; /* Base */
	--ss-opaque-heliotrope-011: #c970e6;
	--ss-opaque-heliotrope-012: #b363cc;
	--ss-opaque-heliotrope-013: #9d57b3;
	--ss-opaque-heliotrope-014: #864a99;
	--ss-opaque-heliotrope-015: #703e80;
	--ss-opaque-heliotrope-016: #5a3266;
	--ss-opaque-heliotrope-017: #44254d;
	--ss-opaque-heliotrope-018: #2d1933;
	--ss-opaque-heliotrope-019: #170d1a;
	--ss-opaque-heliotrope-020: #000000;

}


