
:root {
	/*
		Flush Orange
		255, 125, 0
	*/
	--ss-transparent-flush-orange-0000: rgba(255, 125, 0, .0);

	--ss-transparent-flush-orange-0003: rgba(255, 125, 0, .03);

	--ss-transparent-flush-orange-0010: rgba(255, 125, 0, .1);
	--ss-transparent-flush-orange-0020: rgba(255, 125, 0, .2);
	--ss-transparent-flush-orange-0030: rgba(255, 125, 0, .3);
	--ss-transparent-flush-orange-0040: rgba(255, 125, 0, .4);
	--ss-transparent-flush-orange-0050: rgba(255, 125, 0, .5);
	--ss-transparent-flush-orange-0060: rgba(255, 125, 0, .6);
	--ss-transparent-flush-orange-0070: rgba(255, 125, 0, .7);
	--ss-transparent-flush-orange-0080: rgba(255, 125, 0, .8);
	--ss-transparent-flush-orange-0090: rgba(255, 125, 0, .9);
	--ss-transparent-flush-orange-0100: rgba(255, 125, 0, 1);
}